* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.contenedor {
    width: 100%;
    
}

.header {
    height: 70px;
    width: 98%;
    margin: auto;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .titulo {
    height: 100%;
    width: 40%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}



.header .titulo h1 a {
    margin-left: 10px;
    color: red;
}


.lista-cabecera {
    height: 100%;
    width: 60%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.lista-cabecera li {
    height: 100%;
    display: inline-flex;
    align-items: center;
}



.lista-cabecera li a {
    height: 60px;
    line-height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}


.lista-cabecera a:hover i {
    color: yellow;
    font-size: 1.4rem;
}

.lista-cabecera a:hover {
    font-size: 1.1rem;
}

.cuerpo {
    display: flex;
    width: 100%;
}

.navprincipal {
    width: 20%;
    font-size: 19px;
    
}


.profile {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile a  {
    font-size: 50px;
}

.borde-abajo {
    border-bottom: 1px solid black;
}


.barra {
    display: inline-flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.barra li a {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}



.contenido {
    width: 80%;
    padding-top: 10px;
    padding-left: 20px;

}


.btn-add {
    margin-top: 10px;
    display: inline-block;
    padding: 14px 40px;
    background: green;
    color: white;
    font-weight: bold;
}

.tbl {
    margin-top: 20px;
}

.tabla{
    width: 95%;
    border-collapse: collapse;
}

.tabla td, th{
    border: 1px solid black;
    padding: 5px 0;
}

.tabla td {
    padding-left: 6px;
}