@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    
}

.contPrincipal  {
    width: 100%;
    /* height: ; */
}

h1 {
    font-family: 'Quicksand', sans-serif;;
}

.navIcons {
    background: salmon;
}

.titulo {
    display: inline-flex;
    justify-content: flex-start;
    font-size: 25px;
    background: green;
}

.listIcons {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    background: green;
}

.listIcons i {
    color: black;
    font-size: 20px;
}
